<div>
	<span class="bigTitle"><%= @idea.idea %></span> in <%= link_to_category @idea.category %> 
</div>

<div>
	<%= @idea.short_description %>
</div>

<div>
	<%= @idea.long_description %>
</div>

<%= ideaTags @idea.tags %>