<div class="maxWidth autoAlign">
	<div id="contentIdea" class="maxWidth">	
		<div class="left ideaDescription">
			<div id="ideaInfo">
				<%= render "ideaInfo" %>
			</div>

			<div id="addToFavorites">
				<% if userLogedIn && @idea.user_id != @user.id %>
					<%= render "addToFavorites" %>
				<% end %>
			</div>

			<%= render :partial => "voteManager", :locals => {:item => "idea", :id => @idea.id} %>

			<% if userLogedIn %>
				<div id="addResource" class="mainForm">
					<%= render :partial => "addResource", :locals => {:id => @idea.id} %>
				</div>
			<% end %>

			<div id="feedback">
				<%= render :partial => "newCommentManager", :locals => {:item => "idea", :id => @idea.id} %>

				<%= render :partial => "commentsManager", :locals => {:collection => @comments} %>
			</div>
		</div>

		<div class="right ideaAuxiliars">
			<div class="author">
				<%= link_to @idea.user.fullName, profile_path(@idea.user_id) %>
			</div>

			<div class="borderLine"></div>

			<div id="resourcesContent">
				<span>Resources</span>

				<div id="resources">
					<%= render :partial => "resource", :collection => @resources %>
				</div>
			</div>
		</div>

		<%= clearBox %>
	</div>

	<div class="borderLine"></div>

	<div id="similarIdeas" class="maxWidth autoAlign">
		<%= render :partial => "idea", :collection => @similarIdeas %>

		<%= clearBox %>
	</div>
</div>