<div>
	<div><%= link_to_idea idea %> por <%= link_to_profile idea.user %></div>

	<div><%= idea.category.category %></div>

	<div><%= idea.short_description %></div>

	<%= ideaTags @idea.tags %>

	<%= link_to_idea idea, "View more" %>
</div>