<div id="ideasContainer" class="leftFeed">
	<div>
		<%= link_to "Recent ideas", loadProfileIdeas_path(@selectedUser.id, 2), :remote => true %>
		<%= link_to "Popular ideas", loadProfileIdeas_path(@selectedUser.id, 1), :remote => true %>
		<%= link_to "Favorite ideas", loadProfileIdeas_path(@selectedUser.id, 3), :remote => true %>
		<% if userLogedIn && @user.id == @selectedUser.id %>
			<%= link_to "Suggested ideas", loadProfileIdeas_path(@selectedUser.id, 4), :remote => true %>
		<% end %>
	</div>

	<div id="feed">
		<%= render :partial => "idea", :collection => @ideas %>
	</div>
</div>

<%= clearBox %>